body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  color: #272a31;
}

.topbar a {
  color: #272a31;
  text-decoration: none;
  font-size: 1.1rem;
}

/*============= Navigation =============*/
.navbar {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.navbar-brand img {
  height: 3rem;
}

.nav-item {
  padding: 0.5rem;
}

.nav-link {
  color: #272a31 !important;
}

.nav-link.active,
.nav-link:hover {
  color: #ec5242 !important;
}

/*============= Landing Section =============*/

.landing-section {
  width: 100%;
  height: 100vh;
  background: url(images/landing-bg.jpg) no-repeat;
  background-size: cover;
  background-position: left top;
}
.header-text {
  color: #ec5242;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.landing-p {
  margin: 20px 0;
  background: #ecebeb;
  border: 1px solid #fff;
}

.landing-date h2 {
  font-weight: 900;
  color: #ec5242;
}

.landing-date p {
  color: #ec5242;
}
