body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  color: #272a31;
}

.topbar a {
  color: #272a31;
  text-decoration: none;
  font-size: 1.1rem;
}

/*============= Navigation =============*/
.navbar {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.navbar-brand img {
  height: 3rem;
}

.nav-item {
  padding: 0.5rem;
}

.nav-link {
  color: #272a31 !important;
}

.nav-link.active,
.nav-link:hover {
  color: #ec5242 !important;
}

/*============= Landing Section =============*/

.landing-section {
  width: 100%;
  height: 100vh;
  background: url(images/landing-bg.jpg) no-repeat;
  background-size: cover;
  background-position: left top;
}
.header-text {
  color: #ec5242;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.landing-p {
  margin: 20px 0;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: 1px solid #fff;
  color: #d3d3d3;
}

.landing-date h2 {
  font-weight: 900;
  color: #ec5242;
}

.landing-date p {
  color: #ec5242;
}

/*============= Main Program Section =============*/

.main-Program {
  background-color: #272a31;
  background-size: cover;
  height: auto;
}

.main-title {
  color: #d3d3d3;
}

.main-Program hr {
  background-color: #ec5242;
  width: 5%;
  margin: 0 auto;
}

.main-Program .cols {
  background-color: #fff;
  color: #272a31;
  width: 100%;
  opacity: 0.9;
  margin: 0.2em 0;
}

.card-img {
  height: 50px;
  width: 60px;
}

.card-title {
  color: #ec5242;
}

.section-button {
  font-size: 1.5rem;
  margin: 2rem 0;
  padding: 1.5rem;
  text-transform: uppercase;
  border: none;
  background-color: #ec5242;
  color: #a4becd;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.3s;
}

/*============= Instructors Section =============*/

.instructors {
  background-color: #fff;
  background-size: cover;
  height: auto;
}

.main-title {
  color: #272a31;
  font-weight: 900;
}

.instructors hr {
  background-color: #ec5242;
  width: 5%;
  margin: 0 auto;
}

.instructors .cols {
  background-color: #ecebeb;
  color: #272a31;
  width: 100%;
  opacity: 0.9;
  margin: 0.2em 0;
}

.instructors .card-img {
  width: 130px;
  height: 130px;
  display: block !important;
  margin: 1em 0px 0px;
}

small {
  color: #ec5242;
}
